{% extends 'admin/change_list.html' %}
{% block object-tools-items %}
    <li>
        <a href="/bff/store/invoicemodel/balance" class="btn btn-high btn-success">Check Balance</a>
    </li>
    {{ block.super }}
{% endblock %}
