<form id="form1" name="form1" method="post" action="{{ url }}">
  <table width="600" border="0" cellspacing="10">
    <tr>
      <td></td>
      <td>
        <input type="hidden" name="checkoutId"
          value="{{ checkoutId }}"/>
        <input type="hidden" name="shopperResultUrl"
          value="{{ shopperResultUrl }}"/>
        <input type="hidden" name="shopperCancelUrl"
          value="{{ shopperCancelUrl }}"/>
        <input type="hidden" name="lang" value="mn"/>
        <input type="hidden" name="email" value=""/>
        <input type="hidden" name="phone" value=""/>
      </td>
    </tr>
	</table>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
            document.createElement('form').submit.call(document.getElementById('form1'));
            });
</script>